<div class="flex ">
  <div class="w-[400px] p-[25px] flex justify-center gap-[20px]">
    <div class="self-center">
      <img src="https://images.pickawood.com/data/nettece-2021/Site_structure/icons_logos/ic_service_delivery.svg">
    </div>
    <div class="self-center">
      <p class="text-small self-center">
        Safe & secure
        scheduled delivery
      </p>
      <a>Delivery & Shipping</a>
    </div>
  </div>
  <div class="w-[400px] p-[25px] flex justify-center gap-[20px]">
    <div class="self-center">
      <img src="https://images.pickawood.com/data/nettece-2021/Site_structure/icons_logos/ic_service_headset.svg">
    </div>
    <div class="self-center">
      <p class="text-small">
        Safe & secure
        scheduled delivery
      </p>
      <a>Delivery & Shipping</a>
    </div>
  </div>
  <div class="w-[400px] p-[25px] flex justify-center gap-[20px]">

    <div>
      <p class="text-small">
        "At Pickawood Europe, we combine our innovative design tools and cutting-edge production techniques to ensure
        each exclusive furniture piece is individual to you. Our trusted craftspeople are experts in their field and
        only use premium woods from sustainable European forestry."
      </p>

    </div>
  </div>
  <div class="w-[400px] p-[25px] flex justify-center gap-[20px]">
    <div class="self-center">

      <img class="w-[50px]"
           src="https://images.pickawood.com/data/nettece-2021/Site_structure/Other/_thumb_webp/tim-round.webp">
    </div>
    <div class="self-center">
      <p class="font-extrabold ">
        Tim Enhling
      </p>
      <p class="text-small">Founder</p>
    </div>
  </div>
</div>
